@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 17px;
  /*  background-color: #111827;*/
  font-family: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --main-color: #3584e4;
}
.container {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* main titile  */
.main-title {
  text-align: center;
}
.main-title h1 {
  padding: 0;
  margin: 0;
  color: var(--main-color);
  font-size: 4.6rem;
  text-transform: uppercase;
  opacity: 0.3;
  transform: translateY(50px);
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
}
.main-title h2 {
  padding: 0;
  margin: 0;
  position: relative;
  padding: 0;
  margin: 0;
  position: relative;
  font-size: 2.5rem;
  color: #313131;
}

/* ----------------------------------- */
/* start menu */
.menu {
  position: fixed;
  right: -300px;
  height: 500px;
  width: 300px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: transparent;
  top: 15%;
  z-index: 5;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition-timing-function: cubic-bezier(0.46, -0.51, 0.65, 1.07);
  box-shadow: 0px 0px 9px 1px #0000001f;
}
.menu::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgb(255 255 255 / 67%);
  filter: blur(6px);
  -webkit-filter: blur(6px);
  top: 0;
  left: 0;
  position: absolute;
}
.menu .icon {
  height: 50px;
  width: 50px;
  background-color: var(--main-color);
  position: absolute;
  top: 20px;
  display: flex;
  left: -60px;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2.5px;
  -webkit-border-radius: 2.5px;
  -moz-border-radius: 2.5px;
  -ms-border-radius: 2.5px;
  -o-border-radius: 2.5px;
}

.menu.active {
  right: 10px;
}

.menu .color-conatiner {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-top: 15px;
}
.menu .color-conatiner h2 {
  color: var(--main-color);
  position: relative;
}
.menu .color-conatiner ul {
  position: relative;
  gap: 10px;
  display: flex;
  justify-self: center;
  align-items: center;
}
.menu .color-conatiner li {
  width: 25px;
  height: 25px;
  background-color: red;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 1px solid white;
  opacity: 0.5;
  cursor: pointer;
}
.menu .color-conatiner li.active {
  opacity: 1;
  border-color: black;
}
/* end menu */

/* Start header  */

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  align-items: center;
}

nav .logo {
  font-size: 25px;
  font-weight: bold;
  font-size: 25px;
  color: var(--main-color);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
nav .logo img {
  width: 30px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
nav .icon-toggle {
  font-size: 25px;
  display: none;
}
nav .links {
  display: flex;
  gap: 15px;
}
nav .links li {
  border: 1px solid black;
  padding: 2.5px 5px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  display: flex;
  align-items: center;
}
nav .links li a {
  color: black;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
nav .links li:hover {
  background-color: wheat;
}
nav .links li:hover a {
  color: var(--main-color);
}

/* End header  */
/* Start landing  */
.landing {
  display: grid;
  place-items: center;
  height: calc(100vh - 69px);
  padding: 100px 0;
}
.landing .container {
  display: flex;
  gap: 100px;
}
.landing .text {
  flex: 1;
  padding-top: 50px;
  position: relative;
}
.landing > .text::before {
  position: absolute;
  content: " ";
  width: 20px;
  height: 20px;
  background-color: var(--main-color);
}
.landing .text span {
  font-size: 55px;
  line-height: 70px;
  display: block;
  padding-left: 2px;
}
.landing .images {
  flex: 3;
  display: flex;
  gap: 25px;
}
.landing .box {
  width: 100px;
  height: 400px;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.landing .box.active {
  width: 350px;
}
/* show info to the active ones */
.landing .box.active .go {
  opacity: 1;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition-delay: 0.2s;
}
.landing .box img {
  width: 350px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.landing .go {
  position: absolute;
  left: 20px;
  border: 30px;
  bottom: 50px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.landing .go > .main-text {
  background: var(--main-color);
  padding: 13px;
  border-radius: 2.5px;
  font-size: 21px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  -webkit-border-radius: 2.5px;
  -moz-border-radius: 2.5px;
  -ms-border-radius: 2.5px;
  -o-border-radius: 2.5px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.landing .go > .main-text:hover {
  background-color: rgb(20, 11, 11);
}
.landing .go > .text {
  margin: 0 15px;
  color: white;
  font-weight: 600;
  padding-left: 25px;
  width: 100px;
  display: inline-block;
  padding-top: 0;
}

.landing .go > .number {
  text-align: right;
  color: white;
  font-size: 23px;
  font-weight: bold;
  position: relative;
}
.landing .go > .number::before {
  content: "Hours";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  bottom: -10px;
  font-size: 14px;
  font-weight: normal;
}
/* End landing */

/* start prodacts */
.prodacts {
  padding: 100px 0;
  min-height: 100vh;
}
.prodacts .container {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px 20px;
}
.prodacts .box {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  position: relative;
  padding: 5px 15px;
}
.prodacts .box::before {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--main-color);
  opacity: 0.1;
  position: absolute;
  content: " ";
  border-radius: 10px;
}
.prodacts .box .image-contant,
.prodacts .box .text-contant {
  position: relative;
}
.prodacts .box img {
  width: 100px;
  height: 100px;
}
.prodacts .box h3 {
  padding-bottom: 5px;
}
.prodacts .box span {
  padding: 5px;
  display: inline-block;
  font-size: 13px;
}
.prodacts .box ul {
  display: flex;
  gap: 5px;
}

.prodacts .box li {
  color: #ffbe1b;
}
/* end prodacts */
/* start shoping */
.shop {
  min-height: 100vh;
}
.shop .container {
  padding: 100px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
  padding-top: 50px;
}

.shop .box {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  height: 400px;
  position: relative;
  width: 280px;
}
.shop .box::before {
  content: "Shoes";
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 2.5px 5px;
  border-radius: 2.5px;
  -webkit-border-radius: 2.5px;
  -moz-border-radius: 2.5px;
  -ms-border-radius: 2.5px;
  -o-border-radius: 2.5px;
}
.shop .box:nth-child(2)::before,
.shop .box:nth-child(3)::before,
.shop .box:nth-child(4)::before,
.shop .box:nth-child(8)::before {
  content: "T-short";
}
.shop .box:nth-child(6)::before,
.shop .box:nth-child(7)::before,
.shop .box:nth-child(9)::before,
.shop .box:nth-child(12)::before {
  content: "Pants";
}
.shop .box img {
  width: 300px;
}
.shop .info {
  background-color: black;
  position: absolute;
  bottom: -300px;
  padding: 15px 30px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.shop .box:hover .info {
  bottom: 0;
}
.shop .info h2 {
  color: white;
  font-size: 20px;
  color: var(--main-color);
  position: relative;
  width: fit-content;
  cursor: pointer;
}
.shop .info h2::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  width: 100%;
  border-bottom: 3px dotted var(--main-color);
}
.shop .info p {
  display: inline-block;
  padding: 14px 0;
  line-height: 1.1;
  color: rgb(227, 227, 227);
}
.shop .info .size {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.shop .info li {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: black;
  font-size: 14px;
  user-select: none;
  background-color: white;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.shop .info li:hover {
  background-color: var(--main-color);
}

.shop .switcher ul {
  display: flex;
  gap: 15px;
  padding-top: 100px;
  justify-content: center;
}
.shop .switcher li {
  padding: 2.5px 5px;
  border: 1px solid black;
  cursor: pointer;
  user-select: none;
}
.shop .switcher li.active,
.shop .switcher li:hover {
  background-color: var(--main-color);
  color: white;
}
/* end shoping */

/* Start skills */
.skills {
  min-height: 100vh;
}
.skills .container {
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.skills .progress-bars {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: fit-content;
}
.skills .box {
  display: flex;
  gap: 30px;
  height: 50px;
  width: fit-content;
  padding: 15px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  background: #1f1f2005;
}
.skills .box .title {
  padding: 2.5px;
  width: 50px;
  text-align: center;
}
.skills .box .bar {
  width: 500px;
  height: 20px;
  border: 2px solid black;
  display: block;
  border-radius: 2.5px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.skills .box .full-bar {
  width: 0;
  height: 100%;
  background-color: var(--main-color);
  position: relative;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.skills .box .full-bar::before {
  content: attr(data-width);
  right: -25px;
  top: -40px;
  font-weight: bold;
  position: absolute;
  color: rgb(0, 0, 0);
  padding: 2.5px 10px;
  font-size: 15px;
  z-index: 3;
  opacity: 0;
  transition-delay: 0.2s;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.skills .box .full-bar.active::before {
  opacity: 1;
}

.skills .image-contaner {
  width: 100%;
  position: relative;
  padding-left: 20px;
}
.skills .image-contaner::before {
  content: "";
  position: absolute;
  transition: 0.3s;
  width: 350px;
  height: 350px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-15deg);
  -webkit-transform: translate(-50%, -50%) rotate(-15deg);
  -moz-transform: translate(-50%, -50%) rotate(-15deg);
  -ms-transform: translate(-50%, -50%) rotate(-15deg);
  -o-transform: translate(-50%, -50%) rotate(-15deg);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  border: 10px solid var(--main-color);
}
.skills img {
  width: 100%;
}
/* End skills */

/* Start animales */
.animales {
  min-height: 100vh;
}
.animales .container {
  padding: 100px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.animales .main-image {
  height: 500px;
  width: 500px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  position: relative;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.animales .main-image img {
  width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 7s;
  -webkit-transition: 7s;
  -moz-transition: 7s;
  -ms-transition: 7s;
  -o-transition: 7s;
  z-index: 3;
  transition: 3;
}
.animales .main-image img:hover {
  width: 1200px;
}
.animales .holder-images {
  width: 600px;
}
.animales .holder-images ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.animales .holder-images li {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: relative;
  border-radius: 2.5px;
  -webkit-border-radius: 2.5px;
  -moz-border-radius: 2.5px;
  -ms-border-radius: 2.5px;
  -o-border-radius: 2.5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.animales .holder-images img {
  cursor: pointer;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* end animales */

/* start event */
.event {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.event .container {
  display: flex;
  gap: 15px;
  padding: 100px 0;
}
.event .text-contant {
  padding: 5px;
}
.event .text-contant > h2 {
  text-transform: capitalize;
  text-align: center;
}
.event .text-contant p {
  padding: 15px 0;
  text-align: center;
  width: 70%;
  margin: auto;
}
.event .times {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.event .times .countdown {
  background-color: rgba(0, 0, 0, 0.07);
  min-width: 120px;
  height: 100px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: row-reverse;
  padding-left: 0;
}
.event .times .countdown h2 {
  font-size: 15px;
  opacity: 0.8;
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  margin-right: -5px;
  position: relative;
  z-index: 4;
}
.event .times .countdown span {
  font-size: 80px;
  font-weight: bold;
  opacity: 0.7;
  color: var(--main-color);
  transform: translate(10px, -10px);
  -webkit-transform: translate(10px, -10px);
  -moz-transform: translate(10px, -10px);
  -ms-transform: translate(10px, -10px);
  -o-transform: translate(10px, -10px);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.event .picture {
  flex: 1;
}
.event .picture img {
  width: 100%;
}

/* end event */

/* start stats */
.stats {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
.stats .container {
  padding: 50px;
}
.stats .stats-contant {
  gap: 20px;
  display: flex;
  justify-content: center;
  padding: 100px;
}
.stats .box {
  color: rgb(27, 22, 22);
  height: 150px;
  width: 200px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 15px;
  position: relative;
  overflow: hidden;
}
.stats .box::before {
  content: " ";
  position: absolute;
  background-color: var(--main-color);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0.3;
  border-radius: 5px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.stats .box i {
  transform: translateX(-150px);
  text-align: center;
  font-size: 25px;
  display: block;
  padding-bottom: 5px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.stats .box h2 {
  text-align: center;
  font-size: 50px;
}
.stats .box p {
  text-align: center;
}
/* end stats */
/* start pricing */
.pricing {
  min-height: 100vh;
}
.pricing .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 100px 0;
}
.pricing .box {
  position: relative;
  padding: 20px;
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.pricing .box.popular {
  color: rgb(235, 235, 235);
}
.pricing .box::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  z-index: -1;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  opacity: 0.8;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.pricing .box.popular::before {
  background-color: var(--main-color);
}
.pricing .box .title {
  font-size: 26px;
  font-weight: normal;
  letter-spacing: 1.5px;
  width: fit-content;
  margin-bottom: 15px;
}

.pricing .box .mount {
  font-size: 50px;
}
.pricing .box .time {
  font-size: 14px;
  position: relative;
  top: -15px;
  color: #302828;
}
.pricing .box.popular .time {
  color: rgb(235, 235, 235);
}
.pricing .box .info {
  padding: 20px 0;
  font-size: 15px;
  color: #282828;
}
.pricing .box.popular .info {
  color: rgb(235, 235, 235);
}

.pricing .featurs li {
  padding: 5px 0;
}
.pricing .featurs li i {
  padding-right: 10px;
  color: #000000e6;
}

.pricing .box.popular i {
  color: #ffffffed;
}
.pricing .box i.ops {
  opacity: 0.4;
}

.pricing .submit {
  text-align: center;
  background: transparent;
  border: 1px solid var(--main-color);
  border-radius: 10px;
  margin: 15px 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.pricing .submit a {
  padding: 15px;
  display: block;
  color: var(--main-color);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.pricing .box.popular .submit a {
  background-color: wheat;
  border-radius: 10px;
}
.pricing .submit a:hover {
  background-color: var(--main-color);
  border-radius: 10px;
  color: white;
}
.pricing .box.popular .submit a:hover {
  background-color: white;
}

/* .pricing .box:hover a, */
.pricing .box.popular a {
  color: var(--main-color);
}
/* end pricing */

/* start contact  */
.contact {
  min-height: 100vh;
}
.contact .container {
  padding: 100px 0;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}
.contact .info-contant {
  flex: 1;
  position: relative;
}
.contact .info-contant::before {
  content: " ";
  position: absolute;
  background-color: var(--main-color);
  height: 300px;
  width: 300px;
  top: 36px;
  left: 66px;
  z-index: -1;
  opacity: 0.4;
}
.contact .info-contant h2 {
  font-weight: normal;
  font-size: 40px;
  padding-bottom: 50px;
}
.contact .input-contant {
  flex: 1;
}
.contact .info-contant span {
  padding-bottom: 15px;
  display: block;
  font-size: 18px;
}

.contact .input-contant input[type="submit"] {
  width: 80%;
  padding: 10px 5px;
  border: none;
  border-radius: 5px;
  color: var(--main-color);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.contact .input-contant input[type="submit"]:hover {
  background-color: var(--main-color);
  color: white;
}
.contact .input-contant input {
  width: 80%;
  padding: 5px 10px;
  margin: auto;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--main-color);
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 15px;
}

.contact .input-contant textarea {
  margin-top: 20px;
  font-size: 15px;
  width: 80%;
  padding: 5px 10px;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--main-color);
  resize: none;
  height: 100px;
}

/* end contact */

/* start footer */

footer .data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(255, 98, 0, 0.169);
  padding: 25px;
}

footer .social {
  justify-content: center;
  gap: 15px;
  display: flex;
  position: relative;
}

footer .social i {
  color: var(--main-color);
  background: black;
  height: 50px;
  width: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  cursor: pointer;
}
footer .social i:hover {
  color: black;
  background-color: var(--main-color);
}

footer .links {
  display: flex;
  justify-content: center;
  gap: 20px;
  position: relative;
  flex-wrap: wrap;
}

footer .links a {
  color: black;
  text-transform: uppercase;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
footer .links a:hover {
  color: var(--main-color);
}
/* end footer */
/* start to top */
.totop {
  background-color: var(--main-color);
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 100px;
  right: -50px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.totop:hover {
  background-color: black;
  color: var(--main-color);
}
/* end to top */

/* not yet */
